<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rekruto</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if name and message %}
            <div class="alert alert-primary mt-4" role="alert">
                {{ name }}, {{ message }}
            </div>
        {% else %}
            <div class="alert alert-danger mt-4" role="alert">
                Вы не указали нужные данные!
            </div>
        {% endif %}
    </div>
</body>
</html>
